body {
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  display: block;
  margin: 100px auto;
  width: 800px;
  padding: 50px 10px;
  border: 5px solid #6385a8;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #7b7b83;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 65px;
  position: relative;
  left: 50px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: left;
  line-height: 40px;
}
h2 {
  text-align: left;
  left: 50px;
  position: relative;
  margin-bottom: 10px;
  text-transform: capitalize;
}
h3 {
  text-align: left;
  left: 50px;
  position: relative;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.main {
  width: 100px;
}
.pics {
  width: 75px;
}
.info {
  margin: 0 auto;
  text-align: center;
}
.search2,
.search {
  background: #fff1eb;
}
.search2:hover,
.search:hover {
  background: #6385a8;
  color: #fff;
}

.now {
  position: relative;
  left: 50px;
  text-align: right;
  margin-bottom: 50px;
  width: 150px;
  display: inline-block;
}

.me {
  font-size: 15px;
}

.weather-temperature {
  color: #000000;
  cursor: default;
}

.weather-temperature.active: {
  text-decoration: none;
}
